{# Complex Footer inspired by Astro Ecommerce #}
<footer class="footer bg-dark text-white mt-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5 class="text-white mb-3">{{ name }}</h5>
        <p class="text-white-50">{{ text_footer }}</p>
        <div class="social-links mt-3">
          {% if facebook %}
          <a href="{{ facebook }}" class="text-white me-3"><i class="fab fa-facebook"></i></a>
          {% endif %}
          {% if twitter %}
          <a href="{{ twitter }}" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          {% endif %}
          {% if instagram %}
          <a href="{{ instagram }}" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          {% endif %}
        </div>
      </div>

      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-white mb-3">Information</h6>
        <ul class="list-unstyled">
          {% for information in informations %}
          <li class="mb-2">
            <a href="{{ information.href }}" class="text-white-50 text-decoration-none">{{ information.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-white mb-3">Customer Service</h6>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ contact }}" class="text-white-50 text-decoration-none">Contact Us</a></li>
          <li class="mb-2"><a href="{{ return }}" class="text-white-50 text-decoration-none">Returns</a></li>
          <li class="mb-2"><a href="{{ sitemap }}" class="text-white-50 text-decoration-none">Site Map</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-white mb-3">My Account</h6>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ account }}" class="text-white-50 text-decoration-none">My Account</a></li>
          <li class="mb-2"><a href="{{ order }}" class="text-white-50 text-decoration-none">Order History</a></li>
          <li class="mb-2"><a href="{{ wishlist }}" class="text-white-50 text-decoration-none">Wish List</a></li>
          <li class="mb-2"><a href="{{ newsletter }}" class="text-white-50 text-decoration-none">Newsletter</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <h6 class="text-white mb-3">Follow Us</h6>
        <p class="text-white-50 small">Stay updated with our latest offers and products</p>
      </div>
    </div>

    <hr class="border-white-50 my-4" />

    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <p class="text-white-50 mb-0 small">© {{ year }} {{ name }}. {{ text_powered }}</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <p class="text-white-50 mb-0 small">
          Theme inspired by <a href="https://www.creative-tim.com/product/astro-ecommerce" target="_blank" class="text-white">Astro Ecommerce</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ base }}catalog/view/theme/oc-astro/js/bootstrap.bundle.min.js"></script>
<script src="{{ base }}catalog/view/theme/oc-astro/js/common.js"></script>
</body>
</html>

